.pointer{
    cursor: pointer;
}

#upload-photo{
    height: 200px !important;
}

.imga{
    height: 200px;
}

.activeaddmition{
    color:#561b80;
    text-decoration: underline;
    font-weight: 700;
}
.colors
{
    background: yellowgreen;
}