/*  */
.studentattend{
    width: 99%;
    height: 200px;
    margin-inline: auto;

    border-radius: 10px;
}
.selectlable{
    color: #59227F;
    font-weight: 600;
}
.selectbg-1{
    border: 2px solid #471AC8;  
    height:2.4rem;
    background-color:rgb(210, 181, 234) ;
    opacity: 0.4;
    
    border-radius: 5px;
}
.selectbg-2{
    border: 2px 0 0 2px solid #471AC8;  
    height:2.4rem;
    background-color:rgb(210, 181, 234) ;
    opacity: 0.4;

}
.inputdate{ 
    background-color:rgb(210, 181, 234) ;
    border: 2px solid #471AC8;  
    height:2.4rem;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;

}