.card-height {
    height: 55px;
  
  }
  .chart-height
  {
    height: 303px;
  }
  .cardt
  {
    height: 250px;
  }
  .celender
  {
    height: 215px;
  }
  .columngap{
    column-gap: 80px;
  }

  @media screen and (max-width: 1490px) {
  .mediachange
  {
    width: 760px !important;
    overflow: hidden  ;
  }
}
@media screen and (max-width: 782px) {
  .mediachange
  {
    width: 550px !important;
    overflow: hidden  ;
  }
  .media
  {
    width: 100%;
  }
  
}

@media screen and (max-width: 782px) {
  .dispaly
  {
    display: block !important;

  }
  .changecelender
  {
    display:  none !important;
  }
  .mheight
  {
    height: 600px;
  }
  
}

/* *********************************************************************************** */
/* studentregsiter */
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
th
{
  background-color: #81a4ff;

}

.table
{
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: 12px;
}
.lineheight
{
  padding: 0%;
}