.card-height {
    height: 55px;
  
  }
  .chart-height
  {
    height: 303px;
  }
  .cardt
  {
    height: 250px;
  }
  .celender
  {
    height: 215px;
  }
  .columngap{
    column-gap: 80px;
  }

  @media screen and (max-width: 1490px) {
  .mediachange
  {
    width: 760px !important;
    overflow: hidden  ;
  }
}
@media screen and (max-width: 782px) {
  .mediachange
  {
    width: 550px !important;
    overflow: hidden  ;
  }
  .media
  {
    width: 100%;
  }
  
}

@media screen and (max-width: 782px) {
  .dispaly
  {
    display: block !important;

  }
  .changecelender
  {
    display:  none !important;
  }
  .mheight
  {
    height: 600px;
  }
  
}

/* *********************************************************************************** */
/* studentregsiter */

.lineheight
{
  padding: 0%;
}