@import url('https://fonts.googleapis.com/css2?family=Piazzolla:ital,opsz,wght@0,8..30,300;1,8..30,300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-flui {
  font-family: piazzolla;
  background: url(public/image/bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#container-fluid {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom, #280d3bdd, #dc6541c0, #eee0b1);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .container{ */

.login-container {
  width: 60vw; 
  background-color: #fff;
}

.left {
  border-right: 1px solid black;
}

.left img {
  width: 100%;
}

.right {
  margin: 0 5rem;
}

h1 {
  margin-top: 20px;
  font-size: 28px;
}


.input-group input {
  padding: 10px;
  font-size: 17px;
  width: 100%;
  border: 0;
  outline: none;
  border-bottom: 1px solid black;
}

.forgot-password {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

::placeholder {
  font-family: piazzolla;
}

#ok-btn {
  padding: 8px 2.3rem;
  font-size: 15px;
  border: 0;
  cursor: pointer;
  border-radius: 25px;
  font-family: piazzolla;
  font-weight: bold;
  background-color: #eee0b1;
  outline: none;
}

#btn {
  width: 100%;
  padding: 15px 0;
  border: 0;
  cursor: pointer;
  border-radius: 25px;
  font-family: piazzolla;
  font-weight: bold;
  color: #3d3d3daf;
  background-color: #dcdcdc9e;
  margin-top: 20px;
  outline: none;
}

#a-tag {
  color: #3d3d3d;
  text-decoration: none;
}

.a {
  text-decoration: underline !important;
  width: 100%;
  display: block;
  text-align: center;
  margin-top: 22px;
  font-size: 15px;
}
/* CSS for icons hover  */
.icon:hover{
  color: black;
  cursor: pointer;
  filter: invert(1);
}
@media screen and (max-width: 1200px) {
  .left {
    display: none;
  }
  /* .login-container {
    grid-template-columns: 2fr;
  }

  .right {
    margin: 0 20px;
  }

  .login-container {
    width: 90%;
  } */
} 
@media screen and (max-width: 622px) {
  .height
  {
    height: 401px;
    padding-bottom: 30px;
    font-size: 2px;
    width: 100%;
  }
  p
  {
font-size: 12px;
  }
  .a
  {
    font-size: 12px !important;
  }
}
@media screen and (max-width: 466px)
{
  .login-container

  {
width: 345px !important;

  }
  
  
}
@media screen and (max-width: 280px)

{
  .login-container
  {
    width: 140px !important;
  }
}

/* dashborad */
.bgcolor
{
  background-color: #f3feff;
}
.list-items
{
  list-style: none;
}
.marginright
{
  margin-right: 200px;
}
.logosize
{
  width: 50px;
}
.liwidth
{
  width: 90%;
  padding: 10px;
}
ul li:hover
{
  /* background-color: #5a5a5a; */
  background-color: #adb5bd;
  /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px; */
  border-radius: 12px;
} 
ul li:hover p
{
  color: black;
}
ul li:hover .iconcolor {
  color: black;
}
.active {
  background-color: #adb5bd;
  color: #000000;
  border-radius: 12px;
}
.active :nth-child(1){
  color: black;
}
.iconcolor
{
  color: #81a4ff;
}

.dashcolor
{
  color:#5a5a5a ;
  
}
.fonsizelogo
{
  font-size: 13px;
} 
.bgcolordash
{
  background-color: #adb5bd;
}

.bgcolorhead{
  background-color: #81a4ff;
}
/* 81a4ff */

.fourbgcolorhead{
  background-color: rgb(7 31 71);
  color: white;
    border-radius: 5px;
}


.welcomedash
{
  height: 200px;
  max-height: 200px;
  align-items: center;
  justify-content: center;
  border: 1px solid #3d3d3d;
}
.welcomedash , .top
{
  margin-top: 15px;

}
.inputedit
{
  border: none;
  outline: none;

 


}
.inputedit1
{
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: 12px;
    padding: 2px;
}
.fontsizeicon
{
  font-size: 30px;
}
.textcenter
{
  place-items: center;
  font-weight: 500;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.h
{
  height: 200px;

}
.formselect
{
  width: 100px !important;
}
.border-bottum
{
  border-bottom: 1px solid #3d3d3d;
}
.douth
{
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: #81a4ff;
}
.douth1
{
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: #5a5a5a;
}
.mt
{
  margin-top: 10px;
}



.react-calendar { 
  width: 400px;
  max-width: 100%;
  background-color: #fff;
 }
 .react-calendar__navigation button {
  color: #6f48eb;
  min-width: 44px;
  background: none;
  /* font-size: 16px; */
  /* margin-top: 8px; */
  background-color: #fff;
 }
 abbr[title] {
  text-decoration: none;
 }
 .react-calendar__tile:enabled:hover,
 .react-calendar__tile:enabled:focus {
  /* background: #f8f8fa; */
  color: #6f48eb;
  border-radius: 6px;
 }
 .react-calendar__tile--now {
  background: #6f48eb33;
  border-radius: 6px;
  font-weight: bold;
  color: #6f48eb;
 }
 .react-calendar__tile--now:enabled:hover,
 .react-calendar__tile--now:enabled:focus {
  background: #6f48eb33;
  border-radius: 6px;
  font-weight: bold;
  color: #6f48eb;
 }
 .react-calendar__tile--active {
  background: #6f48eb;
  border-radius: 6px;
  font-weight: bold;
  color: white;
 }
 .react-calendar__tile--active:enabled:hover,
 .react-calendar__tile--active:enabled:focus {
  background: #6f48eb;
  color: white;
 }
 .react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #f8f8fa;
 }
 .react-calendar__tile--range {
  background: #f8f8fa;
  color: #6f48eb;
  border-radius: 0;
 }
 .react-calendar__tile--rangeStart {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  background: #6f48eb;
  color: white;
 }
 .react-calendar__tile--rangeEnd {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  background: #6f48eb;
  color: white;
 }

 .columsgap
 {
  column-gap: 200px;
 }
  button
 {
  background-color: #fff;
  border: none;
 }

 
 .padding-top
 {
  padding-top: 8px;
 }
 .notegap
 {
  column-gap: 190px;
 }

 .inputit{
  background-color: #cfcfcf5c;
  border: 1px solid #c5c5c5;
  border-radius: 6px;
  padding-inline: 5px;
  font-size: 13px;
  color: grey;
  font-weight: 500;
  padding: 5px 11px;
  outline: none;
  margin-left: 0px;
}

.banking{
  width: fit-content !important; 
  top: -14px;
  padding-inline: 8px;
  /* margin-left: 10px; */
  background-color: white;  
}

.smallbolding{
  font-weight: 500;
}
.headee{
  margin-left: -12px;
  width: 101% !important;
}

table , th ,td {
  border: 1px solid rgb(170, 170, 170) !important;
  border-collapse: collapse !important;
}
.toptr{
  background-color: #81a4ff !important;
}

.table
{
box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
border-radius: 12px;
}

label{
  font-size: 15px;
}
td{
  font-size: 18px;
}
tr{
  border-bottom: 1px solid black;
}